{% extends 'base.html' %}
{% load static %}
{% block title %}Alumni | Events{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark sist_navbar bg-dark sist-navbar-light" id="sist-navbar">
    <div class="container">
        {% load static %}
        <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src={% static 'img/logo.svg' %}></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sist-nav" aria-controls="sist-nav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="sist-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item "><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li class="nav-item active"><a href="{% url 'events' %}" class="nav-link">Events</a></li>
                <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                <li class="nav-item cta"><a href="#loginModal" data-toggle="modal" class="nav-link"><span style="font-weight: bold !important;">Login/Register</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="loginModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content center">
            <form class="login-form" method="POST">
                {% csrf_token %}
                <div class="login-header">
                    <i class="icon-lock fas fa-lock-open fa-lg"></i>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-20">
                        <input type="text" name="username" class="form-control" />
                        <label class="form-label" for="username"><i class="fas fa-user"></i> Username</label>
                    </div>
                    <div class="form-outline">
                        <input type="password" name="password" id ="password" class="form-control" />
                        <label class="form-label" for="password"><i class="fas fa-lock"></i> Password</label>
                    </div>
                    <div>
                        <label class="label"><input class="input showPassword" type="checkbox" onclick="showPassword()"/> Show Password </label>
                        <a href="{% url 'alumnisignup' %}" class="float-right text-muted">Dont have an account? <strong class="SignUp">Sign Up</strong></a>
                    </div>
                    <div class="button-group">
                        <input type="submit" class="btn btn-login" value="Login">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
   <section class="event-page" id="event-page" style="margin-top: 110px;">

    <div class="card container" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;">
        <div class="card-body">
          <div class="row">
             <div class="col-md-4">
            <img src="{{ events_queries.poster.url }}">
        </div>
        <div class="col-md-8 flex" style="text-align: justify; margin-top:12%;">
            <h6 style="font-weight: 600; font-size:x-large; margin-left: 30%;  ">Title: <span>{{ events_queries.title }}</span></h6>
            <h6 style="font-weight: 600; font-size:x-large; margin-left: 30%;  ">Date: <span>{{ events_queries.date }}</span></h6>
            <h6 style="font-weight: 600; font-size:x-large; margin-left: 30%;  ">Time: <span>{{ events_queries.time }}</span></h6>
            <h6 style="font-weight: 600; font-size:x-large; margin-left: 30%;  ">Venue: <span>{{ events_queries.venue }}</span></h6>
            <h6 style="font-weight: 600; font-size:x-large; margin-left: 30%;  ">Description: <span>{{ events_queries.description }}</span></h6>
        </div>
          </div>
        </div>
    </div>
   </section>
     {% include 'includes/footer.html' %}
{% endblock %}