{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/signup.css'%}"/>
    <style>
    .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4f4f4f;
    vertical-align: middle;
    background: #f4f7fa !important;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.browser-default {
    display: block !important;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    </style>
{% endblock %}
{% block content %}
    <div class="body container-fluid">
    <div class="card">
        <div class="card-body pl-150 pr-150">
            <h2>Alumni Registration Form</h2>
            <br>
            {% load crispy_forms_tags %}
            <form method="POST">
                {% csrf_token %}
                <h6></h6>
                {%for field in form%}
                    <div>{{field|as_crispy_field}}</div>
                {%endfor%}
                <br>
                <button class="btn btn-danger" type="submit">Submit</button>
            </form>
                </div>
            </div>
        </div>
{% endblock %}