{% extends 'base.html' %}
{% load static %}
{% block title %}Alumni Dashboard{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static  'css/dashboard.css'%}">
{%endblock%}
{% block content %}
    <div class="app-header header sticky" style="margin-bottom: -74px;">
        <div class="container-fluid main-container">
            <div class="d-flex">
                <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar" href="javascript:void(0)"></a>
                <!-- sidebar-toggle-->
                <!--
                 <a class="logo-horizontal " href="index.html"> <img src="../assets/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                    <img src="../assets/images/brand/logo-3.png" class="header-brand-img light-logo1" alt="logo"> </a>

                -->
                <!-- LOGO -->
                <div class="main-header-center ms-3 d-none d-lg-block">
                    <input class="form-control" placeholder="Search for results..." type="search">
                    <button class="btn px-0 pt-2"><i class="fe fe-search" aria-hidden="true"></i></button>
                </div> <div class="d-flex order-lg-2 ms-auto header-right-icons">
                <div class="dropdown d-none"> <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                    <i class="fe fe-search"></i> </a>
                    <div class="dropdown-menu header-search dropdown-menu-start">
                        <div class="input-group w-100 p-2">
                            <input type="text" class="form-control" placeholder="Search....">
                            <div class="input-group-text btn btn-primary">
                                <i class="fe fe-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SEARCH -->
                <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                </button>
                <div class="navbar navbar-collapse responsive-navbar p-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <div class="d-flex order-lg-2">
                            <div class="dropdown d-lg-none d-flex">
                                <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                                    <i class="fe fe-search"></i> </a>
                                <div class="dropdown-menu header-search dropdown-menu-start">
                                    <div class="input-group w-100 p-2">
                                        <input type="text" class="form-control" placeholder="Search....">
                                        <div class="input-group-text btn btn-primary"> <i class="fa fa-search" aria-hidden="true"></i> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Theme-Layout -->
                            <div class="dropdown d-flex">
                                <a class="nav-link icon full-screen-link nav-link-bg">
                                    <i class="fe fe-minimize fullscreen-button"></i>
                                </a>
                            </div>
                            <!-- FULL-SCREEN -->
                            <div class="dropdown  d-flex notifications">
                                <a class="nav-link icon" data-bs-toggle="dropdown">
                                    <i class="fe fe-bell"></i><span class=" pulse"></span> </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <div class="drop-heading border-bottom">
                                        <div class="d-flex">
                                            <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">Notifications </h6> </div>
                                    </div>
                                    <div class="notifications-menu">
                                        <a class="dropdown-item d-flex" href="notify-list.html">
                                            <div class="me-3 notifyimg  bg-primary brround box-shadow-primary"> <i class="fe fe-mail"></i> </div>
                                            <div class="mt-1 wd-80p"> <h5 class="notification-label mb-1">New Application received </h5>
                                                <span class="notification-subtext">3 days ago</span>
                                            </div>
                                        </a>

                                    </div>
                                    <div class="dropdown-divider m-0"></div>
                                    <a href="notify-list.html" class="dropdown-item text-center p-3 text-muted">View all Notification</a>
                                </div>
                            </div>
                            <!-- NOTIFICATIONS -->
                            <div class="dropdown  d-flex message">
                                <a class="nav-link icon text-center" data-bs-toggle="dropdown">
                                    <i class="fe fe-message-square"></i>
                                    <span class="pulse-danger"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <div class="drop-heading border-bottom">
                                        <div class="d-flex">
                                            <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">You have 5 Messages</h6>
                                            <div class="ms-auto">
                                                <a href="javascript:void(0)" class="text-muted p-0 fs-12">make all unread</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-menu">
                                        <a class="dropdown-item d-flex" href="chat.html">
                                            <span class="avatar avatar-md brround me-3 align-self-center cover-image" data-bs-image-src="../assets/images/users/1.jpg" style="background: url(&quot;../assets/images/users/1.jpg&quot;) center center;"></span>
                                            <div class="wd-90p">
                                                <div class="d-flex">
                                                    <h5 class="mb-1">Peter Theil</h5>
                                                    <small class="text-muted ms-auto text-end"> 6:45 am </small>
                                                </div> <span>Commented on file Guest list....</span>
                                            </div>
                                        </a>

                                    </div>
                                    <div class="dropdown-divider m-0">
                                    </div>
                                    <a href="javascript:void(0)" class="dropdown-item text-center p-3 text-muted">See all Messages</a>
                                </div>
                            </div> <!-- MESSAGE-BOX -->

                            <div class="dropdown d-flex profile-1">
                                <a href="javascript:void(0)" data-bs-toggle="dropdown" class="nav-link leading-none d-flex">
                                    <img src="{% static 'img/profile.jpg' %}" alt="profile-user" class="avatar  profile-user brround cover-image"> </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <div class="drop-heading">
                                        <div class="text-center">
                                            <h5 class="text-dark mb-0 fs-14 fw-semibold">Percy Kewshun</h5>
                                            <small class="text-muted">Senior Admin</small>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider m-0"></div> <a class="dropdown-item" href="profile.html"> <i class="dropdown-icon fe fe-user"></i> Profile </a>
                                    <a class="dropdown-item" href="email-inbox.html"> <i class="dropdown-icon fe fe-mail"></i> Inbox
                                        <span class="badge bg-danger rounded-pill float-end">5</span>
                                    </a>
                                    <a class="dropdown-item" href="lockscreen.html"> <i class="dropdown-icon fe fe-lock"></i> Lockscreen </a>
                                    <a class="dropdown-item" href="login.html">
                                        <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="jumps-prevent" style="padding-top: 74px;"></div>
    <div class="sticky is-expanded" style="margin-bottom: -74px;">
        <div class="app-sidebar__overlay active" data-bs-toggle="sidebar"></div>
        <div class="app-sidebar ps ps--active-y open">
            <div class="side-header">
                <a class="header-brand1" href="#">
                    <img src="{% static 'img/logo.svg' %}" class="header-brand-img desktop-logo" alt="logo">
                </a>
                <!-- LOGO -->
            </div>
            <div class="main-sidemenu is-expanded">
                <div class="slide-left disabled active is-expanded" id="slide-left">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                    </svg>
                </div>
                <ul class="side-menu open" style="margin-right: 0px; margin-left: 0px;">
                    <li class="sub-category"> <h3>Main</h3></li>
                    <li class="slide is-expanded">
                        <a class="side-menu__item active" data-bs-toggle="slide" href="index.html">
                            <i class="side-menu__icon fe fe-home"></i>
                            <span class="side-menu__label">Dashboard</span>
                        </a>
                    </li>

                </ul>
                <div class="slide-right" id="slide-right">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                    </svg>
                </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; height: 203px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 51px;"></div>
            </div>
        </div> <!--/APP-SIDEBAR-->
    </div>
    {% block js %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'jquery.sparkline.min.js'%}"></script>
        <script src="{% static 'jquery-3.1.0.js' %}"></script>
        <script src="{% static 'js/sidemenu.js' %}"></script>
        <script src="{% static 'js/sidebar.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/sticky.js' %}"></script>

    {% endblock %}
{% endblock %}